body{
    background-size: cover;
}
.heading{
    width: 100%;
    margin: 0px;
    font-size: 25px;
}
.note{
    font-size: medium;
    color: red;
}
.div_speed{
    float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: medium;
    margin: 15px;
}
.div_volume{
    float: right;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 25px;
    margin: 15px;
}
.play_button{
width: 100px;
font-size: 25px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 55px;
}